<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Inactive</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-grid class="ion-no-padding">
    <ion-row >
      <ion-col size="12" size-sm="8" offset-sm="2" >
        <div class="ion-text-center" *ngIf="isLoading" >
          <ion-spinner color="primary"></ion-spinner>
        </div>
        <div class="ion-text-center" *ngIf="!isLoading && drivers.length <= 0"><p>No Drivers Yet</p></div>

        <ion-list *ngIf="!isLoading && drivers.length > 0" lines="none">
          <ion-item *ngFor="let driver of drivers">
            <ion-grid class="ion-no-padding">
              <ion-row>
                <ion-col>
                  <ion-card>
                    <div class="ion-no-padding" class="ion-text-right"> 
                      <ion-button fill="clear" [routerLink]="['/','drivers','active','edit', driver.id]"><ion-icon slot="icon-only" name="create-outline"></ion-icon></ion-button>
                    </div>
                    <ion-grid class="ion-no-padding">
                        <ion-row>
                            <ion-col>
                              <ion-card-content>
                                <p>{{"Driver Name"}}</p>
                                <div> {{ driver.name }} </div>
                                </ion-card-content>
                              </ion-col>
                              <ion-col>
                                  <ion-card-content>
                                      <p>{{"Status"}}</p>
                                      <div id="ready">{{ driver.status }}</div>
                                    </ion-card-content>
                              </ion-col>
                          </ion-row>
                          <ion-row>
                              <ion-col>
                                  <ion-card-content>
                                      <p>{{"Phone"}}</p>
                                      <div>{{ driver.phone }}</div>
                                    </ion-card-content>
                              </ion-col>
                              <ion-col>
                                    <ion-card-content >
                                      <p>{{"Team"}}</p>
                                      <div>{{"No"}}</div>
                                    </ion-card-content>
                              </ion-col>
                          </ion-row>
                      </ion-grid>
                      <div> 
                        <ion-button fill="clear" shape="round" expand="full" color="primary" [routerLink]="['/','drivers','active', driver.id]">More</ion-button>
                      </div>
                  </ion-card>
               </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
