<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/dispatcher/loads/current"></ion-back-button>
  </ion-buttons>
    <ion-title>Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="isLoading" class="ion-text-center">
      <ion-spinner color="primary"></ion-spinner>
    </div>
  <ion-grid *ngIf="!isLoading && load">
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-grid>
            <ion-row>
                <ion-col>
                  <ion-card-content>
                    <p>{{"Status"}}</p>
                    <div id="status">{{ load.status }}</div>
                    </ion-card-content>
                  </ion-col>
                  <ion-col>
                      <ion-card-content>
                          <p>{{"Distance"}}</p>
                          <div>{{ load.distance | number}} mile</div>
                        </ion-card-content>
                  </ion-col>
              </ion-row>
              <ion-row>
                  <ion-col>
                      <ion-card-content>
                          <p>{{"Driver Name"}}</p>
                          <div>{{ load.driverName }}</div>
                        </ion-card-content>
                  </ion-col>
                  <ion-col>
                      <ion-card-content>
                          <p>{{"ID"}}</p>
                          <div>{{ load.loadNumber }}</div>
                        </ion-card-content>
                  </ion-col>
              </ion-row>
              <ion-row>
                  <ion-col>
                      <ion-card-content>
                          <p>{{"From"}}</p>
                          <div>{{ load.from }}</div>
                        </ion-card-content>
                  </ion-col>
                  <ion-col>
                      <ion-card-content>
                          <p>{{"To"}}</p>
                          <div>{{ load.to }}</div>
                        </ion-card-content>
                  </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                    <ion-card-content>
                        <p>{{"Rate"}}</p>
                        <div>{{ load.price | currency }}</div>
                      </ion-card-content>
                </ion-col>
                <ion-col>
                    <ion-card-content>
                        <p>{{"Dispatcher"}}</p>
                        <div>{{ load.loadNumber }}</div>
                      </ion-card-content>
                </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
